/*Colors
f7f7f7 white
43d8c9 blue
95389e purple
100303 black
*/

/*First Letter or Line :first-letter, :first-line
*/

* {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}

body{
    line-height: 150%;
    background-color: #ffffff;
}

#comments {
    width: 70%;
    margin: 0px auto 0px auto;
}

#comments > div {
    margin: 0px 0px 25px 0px;
}

#comments > div > img {
    width: 20px;
}

main {
    background-color: #f7f7f7;
    line-height: 200%;
    width: 90%;
    padding: 20px;
    margin: 0px auto 0px auto;
    box-shadow: 10px 15px 5px darkgrey;
    border-radius: 30px;
}

main > header {
    margin: 20px auto 50px auto;
}

main > header > figure > img {
    width: 100%;
}

main > footer {
    margin: 50px auto 20px auto;
}

main p {
    text-align: justify;
    align-items: center;
}

#header {
    width: 95%;
    margin: 5px auto 5px auto;
    text-align: center;
}

#header > figure {
    margin: 0px auto 0px auto;
    width: 80px;
}

#header > figure > img {
    width: 100%;
}

#header > nav {
    color: #95389e;
    font-family: 'Crete Round', serif;
    text-transform: uppercase;
}

#comments > div > i {
    font-size: 16px;
}

#comments > div > p {
    font-size: 10px;
    margin: 0px;
}

#comments > div > p + p {
    font-size: 14px;

}

#footer {
    background-color: #95389e;
    border:none;
    width: auto;
}

#footer * {
    font-size: 10px;
    text-align: center;
    color: white;
    margin: 0;
}

#comments_form {
    width: 80%;
    margin: 10px auto 10px auto;
    padding: 15px;
    border-radius: 20px;
}

#comments_form form {
    border: none;
    margin: 10px auto 10px auto;
    text-align: center;
}

#comments_form input.input_text{
    width: 35%;
    border: none;
    border: 2px red solid;
    margin: 5px 5px 5px 5px;
    text-align: center;
    border-radius: 10px;
    border: none;
    background-color: #fae6fbed;
}

#comments_form input.input_text:focus{
    outline:none;
    background-color: purple;
    color: #fae6fbed;
}

header > blockquote:first-line {
    font-size: 20px;
}

article {
    text-align: justify;
}
#comments_form input.input_text:focus::placeholder{
    outline:none;
    background-color: purple;
    color: #fae6fb70;
}


#comments_form textarea{
    display: block;
    /*border: 2px red solid;*/
    margin: 5px auto 5px auto;
    width: 80%;
    padding: 10px;
    resize: none;
    height: 100px;
    border-radius: 10px;
    border:none;
    background-color: #fae6fbed;
}

#comments_form textarea:focus{
    outline:none;
    background-color: purple;
    color: #fae6fbed;
}

#comments_form textarea:focus::placeholder{
    outline:none;
    background-color: purple;
    color: #fae6fb70;
}

#submit {
    background-color: purple;
    color: white;
    border: none; 
    border-radius: 10px;
    font-size: 20px;
    margin: 10px;
    box-shadow: rgb(70, 3, 70) 3px 3px 3px;
}

#submit:hover {
    background-color: rgb(77, 0, 77);
}

#submit:active {
    background-color: #fae6fbed;
    color: purple;
    outline:none;
}


header > nav > ul {
    border-bottom: #95389e solid 2px;
}

header > nav > ul > li {
    display: inline;
    margin: 0px 30px;
    font-size: 20px;
    letter-spacing: .3em;
    font-weight: bold;
}

header > nav > ul > li:hover {
    color: #1d0b1f;
}
