/*Colors
f7f7f7 white
43d8c9 blue
95389e purple
100303 black
*/

/*First Letter or Line :first-letter, :first-line
*/

* {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}

body{
    line-height: 150%;
    background-color: #ffffff;
    align-items: center;
}

header {
    width: 95%;
    margin: 5px auto 5px auto;
    text-align: center;
}

header > figure {
    margin: 0px auto 0px auto;
    width: 80px;
}

header > figure > img {
    width: 100%;
}

header > nav {
    color: #95389e;
    letter-spacing: .3em;
    font-weight: bold;
}

header > nav > ul {
    border-bottom: #95389e solid 2px;
}

header > nav > ul > li {
    display: inline;
    margin: 0px 30px;
    font-size: 20px;
}

header > nav > ul > li:hover {
    color: #1d0b1f;
}
